<div class="row">
  <div class="col-md-12">
    <strong><%= comment.commenter %></strong>
  </div>
  <div class="col-md-6">
    <%= comment.body %>
  </div>
  <div class="col-md-2">
    <%= link_to 'delete', [comment.article, comment], method: :delete, data: { confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm" %>
  </div>
</div>